// costum variables
//$secondary : #ffcc79;
// import the functions $ variables

$navbar-dark-color: #3498db; // You can set any color you prefer

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-them-colors: (
    "light-yellow" : #faebad,
    "more-light" : #f2e8bf,
    "oil-blue" : #5B8F8F,
    "dark-oil-blue" : #6b8fa5,
    "card1" : #f6d6d6,
    "card2" : #F6F7C4,
    "card3" : #c3f7d7,
    "card4" : #b9effd,
    "card5" : #fdd18c,
    "card6" : #efc5f4,
    "dark-purple" :rgb(155, 66, 171),
    "light-orange" :rgb(248, 215, 162),
    "orange_darker" : #c97d02,
    "darker-red" : #f96464,
    "darker-green" : #297c49,
    "lighter-yellow" : #f9f0cd,
    "pink" : #FFE5E5,
);

$theme-colors: map-merge($custom-them-colors, $theme-colors);

//$navbar-light-color: #5B8F8F;

// import bootstrap 
@import '../node_modules/bootstrap/scss/bootstrap';
