// costum variables
//$warning : rgb(120, 249, 88);
$navbar-dark-color: #5B8F8F;
// import the functions $ variables

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-them-colors: (
    "light-yellow" : #faebad,
    "more-light" : #f2e8bf,
    "dark-purple" : rgba(91, 19, 122, 0.267),
    "light-green" : rgb(63, 198, 130),
    "oil-blue" : #5B8F8F,
    "dark-oil-blue" : #6b8fa5,
    "card1" : #f6d6d6,
    "card2" : #F6F7C4,
    "card3" : #c3f7d7,
    "card4" : #b9effd,
    "darker-red" : #f96464,
    "darker-green" : #297c49
);

$theme-colors: map-merge($custom-them-colors, $theme-colors);

// import bootstrap 
@import '../node_modules/bootstrap/scss/bootstrap';